<h1><%= action_message %> Administrador</h1>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Preencha os dados do administrador </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <% if @admin.errors.any? %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <ul>
                        <% @admin.errors.full_messages.each do |message| %>
                            <li> <%= message %> </li>
                        <% end %>
                    </ul>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% end %>

            <div class="x_content">
            <br>
            <%= form_with(model: [ :admins_backoffice, @admin ], local: true , class:"form-horizontal form-label-left") do |form| %>

                <div class="item form-group">
                    <%= form.label :email, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                    <div class="col-md-6 col-sm-6 ">
                        <%= form.text_field :email, class:"form-control" %>
                    </div>
                </div>

                <div class="item form-group">
                    <%= form.label :password, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                    <div class="col-md-6 col-sm-6 ">
                        <%= form.password_field :password, class:"form-control"%>
                    </div>
                </div>

                <div class="item form-group">
                    <%= form.label :password_confirmation, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                    <div class="col-md-6 col-sm-6 ">
                        <%= form.password_field :password_confirmation, class:"form-control" %>
                    </div>
                </div>

                <%= form.fields_for :admin_profile do |profile_form| %>
                    <div class="item form-group">
                        <%= profile_form.label :first_name, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                        <div class="col-md-6 col-sm-6 ">
                            <%= profile_form.text_field :first_name, class:"form-control" %>
                        </div>
                    </div>

                    <div class="item form-group">
                        <%= profile_form.label :second_name, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                        <div class="col-md-6 col-sm-6 ">
                            <%= profile_form.text_field :second_name, class:"form-control" %>
                        </div>
                    </div>

                    <div class="item form-group">
                        <%= profile_form.label :cpf, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                        <div class="col-md-6 col-sm-6 ">
                            <%= profile_form.text_field :cpf, class:"form-control" %>
                        </div>
                    </div>

                    <div class="item form-group">
                        <%= profile_form.label :birthdate, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                        <div class="col-md-6 col-sm-6 ">
                            <%= profile_form.date_field :birthdate, class:"form-control" %>
                        </div>
                    </div>

                    <div class="item form-group">
                        <%= profile_form.label :gender, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                        <div id="gender" class="btn-group" data-toggle="buttons">
                            <label class="btn <%= gender_select(@admin, 'M') %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                <%= profile_form.radio_button :gender, "M", class:"join-btn", "data-parsley-multiple":"gender" %> &nbsp; Masculino &nbsp;
                            </label>
                            <label class="btn <%= gender_select(@admin, 'F') %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                <%= profile_form.radio_button :gender, "F", class:"join-btn", "data-parsley-multiple":"gender" %> &nbsp; Feminino &nbsp;
                            </label>
                        </div>
                    </div>

                    <%= javascript_tag do %>
                        var labels = document.querySelectorAll('div#gender label');

                        labels.forEach((label) => {
                            label.addEventListener('click', () => {
                            label.classList.remove('btn-secondary');
                            label.classList.add('btn-primary');

                            labels.forEach((lbl) => {
                                if(lbl !== label){
                                lbl.classList.remove('btn-primary');
                                lbl.classList.add('btn-secondary');
                                }
                            });
                            });
                        });
                    <% end %>
                <% end %>


                <div class="clearfix"></div>

                <div class="ln_solid"></div>
                <div class="form-group row">
                    <div class="col-md-9 col-sm-9  offset-md-3">
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </div>

            <% end %>
            </div>
        </div>
    </div>
</div>