<main>
  <section class="section">
    <div class="container">
      <div class="row no-gutters-lg">
        <div class="col-12">
          <h2 class="section-title"> <%= msg_jumbotron %> </h2>
        </div>
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="row">
            <% @articles.each do |article| %>
              
              <div class="col-md-6 mb-4">
                <article class="card article-card article-card-sm h-100">
                  <%= link_to site_article_path(article) do %>
                    <div class="card-image">
                      <div class="post-info"> <span class="text-uppercase"> <%= article.created_at %> </span>
                        
                      </div>
                      <% if article.url_image? %>
                        <%= image_tag article.url_image , class:"w-100" %>
                      <% end %>
                    </div>
                  <% end %>
                  <div class="card-body px-0 pb-0">
                    <ul class="post-meta mb-2">
                      <li> <%= link_to article.subject.description, site_articles_subject_path(article.subject_id, article.subject.description) %>
                      </li>
                    </ul>
                    <h2>
                      <%= link_to site_article_path(article), class:"post-title" do %>
                        <%= article.title %>
                      <% end %>
                    </h2>
                    <p class="card-text"> <%= article.description %> </p>
                    <div class="content">
                      <%= link_to 'Ver artigo completo', site_article_path(article), class:"read-more-btn" %> 

                    </div>
                  </div>
                </article>
              </div>
            <% end %>
            
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <nav class="mt-4">
                    <!-- pagination -->
                    <%= paginate @articles %>
                  </nav>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-4">
          <div class="widget-blocks">
            <div class="row">
              <div class="col-lg-12 col-md-6">
                <div class="widget">
                  <h2 class="section-title mb-3">Recommended</h2>
                  <div class="widget-body">
                    <div class="widget-list">
                      <article class="card mb-4">
                        <div class="card-image">
                          <div class="post-info"> <span class="text-uppercase">1 minutes read</span>
                          </div>
                            <img loading="lazy" decoding="async" src="#" alt="Post Thumbnail" class="w-100">
                          </div>
                          <div class="card-body px-0 pb-1">
                            <h3><a class="post-title post-title-sm"
                              href="article.html">Portugal and France Now
                              Allow Unvaccinated Tourists</a></h3>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor …</p>
                            <div class="content"> <a class="read-more-btn" href="article.html">Read Full Article</a>
                            </div>
                        </div>
                      </article>
                      <a class="media align-items-center" href="article.html">
                        <img loading="lazy" decoding="async" src="#" alt="Post Thumbnail" class="w-100">
                        <div class="media-body ml-3">
                          <h3 style="margin-top:-5px">These Are Making It Easier To Visit</h3>
                          <p class="mb-0 small">Heading Here is example of hedings. You can use …</p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-6">
                <div class="widget">
                  <h2 class="section-title mb-3">Categorias</h2>
                  <div class="widget-body">  
                    <ul class="widget-list">
                      <% @subjects.each do |subject| %>
                        <li><a href="#!"> <%= subject.description %></a>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>